src/main/resources/spaceTravel.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://discovery.co.za/space-travel-service" elementFormDefault="qualified">

    <xs:element name="getShortestPathRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pointA" type="xs:string"/>
                <xs:element name="pointB" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getShortestPathResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
